footer{
    font-size:$fontSizeL; 
    margin-top: 5px;
    .footer__copyright{
        margin-bottom: 10px ;
        display: flex;
        justify-content: center;
    }
    .footer__redes{        
        display: flex;
        justify-content: space-between;
        
    }
    .footer__nav--img{
        width: 15%;
        margin-left: 40%;
        margin-bottom: 10px;
    }
}
