/*Galeria grid*/
#galeria img{
    height: $w-100;
    width: $w-100;
    object-fit: cover;
}


.fot-a{
    grid-area: fotoA;
}

.fot-b{
   grid-area: fotoB;
}

.fot-c{
    grid-area: fotoC;
}

.fot-d{
    grid-area: fotoD;
}

.fot-e{
    grid-area: fotoE;
}

.fot-f{
    grid-area: fotoF;
}

#galeria{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,300px);
    grid-template-areas: 
    "fotoA" 
    "fotoB" 
    "fotoC" 
    "fotoD" 
    "fotoE" 
    "fotoF";
}



/*Fin Galeria grid*/