//280

@media (min-width:280px) {
    @include mediaQ280();

    
    }

    //error
    #error {
        text-align: $center;
        margin: 20px;

        img {
            width: $w-100;
            margin-left: auto;
        }

        h1 {
            font-size: $fontSizeL;

        }

        a {
            font-size: $fontSizeM;
            display: block;
            margin-bottom: 5px;
            text-decoration: none;
            color: transparent;
            background-image: linear-gradient(to bottom right, #0176fb, #01e1ff);
            background-clip: text;
        }

        .animacionBoliche {
            text-decoration: none;
            color: transparent;
            background-image: linear-gradient(to left, #FFD700, #7B68EE, #3498db, #2ecc71, #FFD700);
            background-clip: text;
            animation: color 1s linear infinite;
            background-size: 500%;
        }

        @keyframes color {
            from {
                background-position: 0% 50%;
            }

            to {
                background-position: 100% 50%;
            }
        }
    }

    #degrade {
        border-radius: 3%;
        background: #5624C6;
        background: -webkit-linear-gradient(top left, #5624C6, #955354);
        background: -moz-linear-gradient(top left, #5624C6, #955354);
        background: linear-gradient(to bottom right, #5624C6, #955354);

    }



//576
@media (min-width:576px) {
    .btn-primary {
        width: 6%;
    }

    @include mediaQ280();

    }

    //error
    #error {
        img {
            width: 90%;
        }

        a {
            font-size: $fontSizeL;
        }
    }



//768

@media (min-width:768px) {



    form {
        margin: 0 auto;
        width: 90%;
    }

    .bordeAzul {
        border: 1em solid $primaryColor;
    }

    #mainBio {
        iframe {
            width: 560px;
        }
    }

    //error
    #error {
        img {
            width: 75%;
        }
    }
}






    //inicia footer
    .footer__nav--img {
        filter: sepia();

        &:hover {
            filter: none
        }
    }

    //Ends Footer




    //btn form

    .btn-primary {
        filter: sepia();

        &:hover {
            @include hover();
            background: linear-gradient(to top, #1A2867, #782594);
            border: none;
        }
    }

    //ends btn form

    //error
    #error {
        img {
            width: 60%;
        }
    }
