//mixings


//yt y spoty


//mediaQuerys

@mixin mediaQ280 {

    //boton form
    .btn-primary {
        filter: none;
        background: linear-gradient(to top, #1A2867, #782594);
        border: none;
    }



    //boton form
    .btn-primary {
        background: linear-gradient(to top, #1A2867, #782594);
        filter: sepia();
        border-radius: 10px;
        width: 20%;

        &:hover {
            @include hover();
        }
    }

    #mainBio {
        iframe {
            width: 560px /600px *100%;

        }
    }
}

//hover


@mixin hover{
    filter: none;
    cursor: pointer;
}