@media (min-width:576px){


    #noticias{
        .columns {
            display: flex;
        }
        .column {
            display: flex;
            flex: 1;
            flex-direction: column;
        }
        .main-column {
            flex: 2;
        }
        .article {
            background: white;
            color: #666;
            display: flex;
            flex: 1;
            flex-direction: column;
            flex-basis: auto;
            margin: 10px;
            
        }
        .article-image {
            background: #eee;
            display: block;
            padding-top: 75%;
            position: relative;
            width: 100%;
            img {
              display: block;
              height: 100%;
              left: 0;
              position: absolute;
              top: 0;
              width: 100%;
              object-fit: cover;
          }
        }
        
        .article-image.is-3by2 {
            padding-top: 66.6666%;
        }
        .article-image.is-16by9 {
            padding-top: 56.25%;
        }
        .article-body {
            padding: 20px;
            
        }
        .article-content {
    
            margin: 5px;
        }
    } 
    
} 

    



    /*menos de 576*/
    
    #noticias {
      background-image: url(../backgrounds/background.png);
      color: #eee;
      div, h2, p, figure {
        margin: 0;
        padding: 0;
      }
      .main {
        margin: 0 auto;
        max-width: 1040px;
        padding: 20px;
      }
      .column, .main-column {
        display: flex;
        flex: 1;
        flex-direction: column;
      
      }
      .article-image {
        background: #eee;
        display: block;
        padding-top: 75%;
        position: relative;
        width: 100%;
      }
      .article{
        background-color: #eee;
        background-image: none;
        margin: 20px;
        text-decoration: none;
        color: #333;
        img{
            width: 100%;
            height: 100%;
          }
      }
      .first-article{
        height: max-content;
      }
      .article-title {
        color: #333;
        font-size: 2rem;
        font-weight: bold;
        font-weight: 700;
        line-height: 1.2;
      }
      .article-content{
        padding: 20px;
      }
      h4{
        margin: 20px;
      }
    }
    
    
    
    



    



    
    